.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tags {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.input {
    border: none;
    outline: none;
}

.info {
    font-size: 12px;
    color: #ccc;
}