.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  gap: 4px;
  height: 24px;
}

.label {
  margin-left: 4px;
  cursor: pointer;
}

.close {
  cursor: pointer;
  background-color: #ccc;
  height: 24px;
  line-height: 24px;
  border-radius: 0 4px 4px 0;
  padding: 0 4px;
}